@model CC_Web.Models.Data.Virksomhed

@{
    ViewData["Title"] = "Profil";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<img src="~/Images/CCLogo.png" class="generel_style_image" />

<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-7">
        <h1>Virksomhedsprofil</h1>
        <p>Virksomhedsnavn: @Html.DisplayFor(model => model.Virksomhedsnavn)</p>
        <p>CVR-nummer: @Html.DisplayFor(model => model.CVR)</p>
        <p>Kontaktperson: @Html.DisplayFor(model => model.KontaktPerson)</p>
        <p>Virksomhedsbeskrivelse: @Html.DisplayFor(model => model.Beskrivelse)</p>

        <textarea id="textareaV" style="width:350px;height:200px"></textarea>
        <br />
        <input type="submit" class="PinkBtn" value="Gem" style="margin-top: 5%" />

        @*<form asp-action="EditBeskrivelse">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <textarea asp-for="Beskrivelse" class="form-control" />
                <span asp-validation-for="CVR" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" class="PinkBtn" value="Gem" style="margin-top:5%" />
            </div>
        </form>*@
    </div>
    <div class="col-md-4">
        <h1>Bookede pubcrawls</h1>
        @* Booked pubcrawl - foreach liste hvor der er kan iteres igennem pubcrawls *@

        @foreach (var pubcrawl in Model.Pubcrawls)
        {
            <p>@pubcrawl.PakkeNavn Antal brugere: @pubcrawl.Brugere.Count()</p>
        }


    </div>
</div>

<hr />