@model CC_Web.Models.Data.Virksomhed

@{
    ViewData["Title"] = "Profil";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<img src="~/Images/CCLogo.png" class="generel_style_image" />

<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-7">
        <h1>Virksomhedsprofil</h1>
        <p>Virksomhedsnavn: @Html.DisplayFor(model => model.Virksomhedsnavn)</p>
        <p>CVR-nummer: @Html.DisplayFor(model => model.CVR)</p>
        <p>Kontaktperson: @Html.DisplayFor(model => model.KontaktPerson)</p>
        <p>Virksomhedsbeskrivelse: @Html.DisplayFor(model => model.Beskrivelse)</p>

        <!--<form asp-route-returnUrl="~/MainCC/Profil" method="post">-->
            <!--<h4>Create a new account.</h4>-->
            <!--<hr />
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Beskrivelse" class="generel_style_txt_box">Beskrivelse</label>
                <input asp-for="Beskrivelse" class="generel_style_txt_box" placeholder="Beskrivelse" />
                <span asp-validation-for="Beskrivelse" class="text-danger"></span>
            </div>
            <button type="submit" class="PinkBtn" id="center_btn">Register</button>
        </form>

        <p>@Html.DisplayFor(model => model.Beskrivelse)</p>-->

        @*<form asp-action="EditBeskrivelse">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <textarea asp-for="Beskrivelse" class="form-control" />
                <span asp-validation-for="CVR" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" class="PinkBtn" value="Gem" style="margin-top:5%" />
            </div>
        </form>*@
    </div>
    <div class="col-md-4">
        <h1>Bookede pubcrawls</h1>
        @* Booked pubcrawl - foreach liste hvor der er kan iteres igennem pubcrawls *@

        @*<p>@Html.DisplayFor(Model => Model.Pubcrawls) </p>*@

        @foreach (var pubcrawl in Model.Pubcrawls)
        {
            <p><span style="font-weight:bold;">Pakke type:</span> @Html.DisplayFor(Model => pubcrawl.PakkeNavn) <br /><span style="font-weight:bold;">Mødested:</span> @Html.DisplayFor(Model => pubcrawl.MoedeSted)<br /> <span style="font-weight:bold;">Dato:</span> @Html.DisplayFor(model => pubcrawl.MoedeTid)</p>
        }


    </div>
</div>

<hr />